<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- prettier-ignore -->
    <title>{{ if not .IsHome }}{{ .LinkTitle | humanize }} - {{ end }}{{ .Site.Title }}</title>
    {{ $opts := dict "transpiler" "libsass" "targetPath" "style.css" }}
    {{ with resources.Get "css/index.scss" | toCSS $opts | minify | fingerprint }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" />
    {{ end }}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}
  </head>
  <body>
    {{ block "body" . }}
      <div class="classic-layout-container">
        <header>
          {{ block "header" . }}{{ end }}
        </header>
        <main>
          {{ block "main" . }}{{ end }}
        </main>
        <footer>
          {{ block "footer" . }}{{ end }}
        </footer>
      </div>
    {{ end }}
  </body>
</html>
