{{- define "header" -}}
  <div class="content post">
    {{ partial "page_path.html" . }}
    {{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}
    {{ if .Description }}<p>{{ .Description }}</p>{{ end }}
    {{ partial "taxo_of_single.html" . }}
    {{ if .Lastmod }}
    <div class="pub-date">
      mtime={{ .Lastmod.Format .Site.Params.dateFormat }}
      archived={{ default false .Params.archived }}
      words={{ .WordCount }}
    </div>
    {{ end }}
  </div>
{{- end -}}

{{- define "main" -}}
  <div class="content post">
    <div class="aside-container">
      {{ if .Param "toc" }}
        <div class="nav-block">
          <h3 class="toc-title">TABLE OF CONTENTS</h3>
          {{ .TableOfContents }}
        </div>
      {{ end }}
    </div>
    <div class="main-container">
      <article>
        {{ .Content }}
      </article>
    </div>
  </div>
{{- end -}}

{{- define "footer" -}}
  <div class="content post">
    {{ with .Site.GetPage .Site.Home.Params.vaultPageLink}}
      {{ if not (.Eq $.Page) }}
        <a href="{{ .RelPermalink }}">save or verify</a>
      {{ end }}
    {{ end }}
  </div>
{{- end -}}
