.home-layout-container {
  display: flex;
  height: 100%;
  .content.home {
    flex: 0 0 100%;
    margin: auto 0;
    .about-container {
      background: linear-gradient(
        135deg,
        $color-bg-accent-light 0%,
        $color-bg-accent-dark 100%
      );
      box-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
      padding: $margin-base-y $margin-base-x;
    }
    .bottom-container {
      margin: $margin-base-y $margin-base-x;
      .bottom-block {
        max-width: $width-base;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.home-layout-container .content.home .about-block {
  max-width: $width-base;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: $margin-base-y $margin-base-x;
  .info-container {
    flex: 1;
    h1 {
      text-align: center;
      margin-top: 0;
    }
    .pgp {
      margin: 1em 0;
      display: flex;
      align-items: center;
      column-gap: 0.8rem;
      .icon {
        height: 1.5rem;
        width: 1.5rem;
        color: $color-fg-op-m;
        &:hover {
          color: $color-fg-accent;
        }
      }
      .text {
        color: $color-fg-dark;
        margin-right: -0.2rem;
        .spaced {
          margin-right: 0.2rem;
        }
      }
    }
    .links {
      display: flex;
      justify-content: center;
      column-gap: 1rem;
      .icon {
        height: 2rem;
        width: 2rem;
        color: $color-fg-op-m;
        &:hover {
          color: $color-fg-accent;
        }
      }
    }
  }
  .image-container {
    flex: 0 1 30%;
    img {
      display: block;
      width: 100%;
      background: rgba(#000, 0.2);
      border-radius: 0.5rem;
    }
  }
}

.home-layout-container .content.home .section-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  .section-item {
    flex: 1;
    white-space: nowrap;
    text-decoration: none;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.5);
    border-radius: 1rem;
    border: 1px solid $color-fg-op-m;
    &:hover {
      border: 1px solid $color-fg-accent;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      height: 2.5rem;
      width: 2.5rem;
      color: $color-fg-op-m;
    }
    .label {
      font-size: 1.3rem;
      font-weight: bold;
      color: $color-fg-dark;
    }
  }
}

.home-layout-container .content.home .notice {
  margin: $margin-base-y 0 0 0;
  color: $color-fg-op-m;
}

@mixin media--home-content-about_vert_top {
  .home-layout-container .content.home .about-block {
    .image-container {
      flex-basis: 10rem;
    }
    .info-container {
      flex-basis: 100%;
    }
  }
  .home-layout-container .content.home .section-list {
    .section-item {
      flex-wrap: wrap;
      padding: 1rem 0.75rem;
      .icon {
        flex-basis: 100%;
      }
      .label {
        margin: 0.25rem 0 0 0;
      }
    }
  }
}
@mixin media--home-content-about_vert_middle {
  .home-layout-container {
    .content.home {
      .about-container {
        padding: $margin-base-y * 2 $margin-base-x;
      }
    }
  }
  .home-layout-container .content.home .section-list {
    .section-item {
      padding: 1rem;
      .label {
        margin: 0 0 0 0.75rem;
        font-size: 1.6rem;
      }
    }
  }
}
@mixin media--home-content-about_vert_middle_wide {
  .home-layout-container .content.home .section-list {
    .section-item .label {
      font-size: 1.8rem;
    }
  }
}
