$color-fg: #$THEME_COLOR_FG;
$color-fg-dark: #$THEME_COLOR_FG_DARK;
$color-fg-accent: #$THEME_COLOR_FG_ACCENT;
$color-bg: #$THEME_COLOR_BG;
$color-bg-accent-light: #$THEME_COLOR_BG_ACCENT_LIGHT;
$color-bg-accent-dark: #$THEME_COLOR_BG_ACCENT_DARK;

$opacity-low: $THEME_OPACITY_LOW;
$opacity-mid: $THEME_OPACITY_MID;
